.hamLayoutPlain {
	font-family: monospace;
	padding: 0;
	margin: 0;
	font-size: 100%;
}

.hamLayoutTable {
	font-family: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}

.hamLayoutTable * {
/*	padding: 0;*/
	margin: 0;
}

.hamLayoutTable td {
	padding: 0;
}

.hamLayoutTable td a {
	outline: none;
	text-decoration: none;
}

.hamLayoutTable td a pre {
	background-color: lightgrey;
}

.hamLayoutTable td a pre:hover {
	background-color: lightgreen;
}

.hamInputText {
	font-family: inherit;
	font-size: 100%;
	background-color: white;
	border: none;
	margin: 0;
	padding: 0;
}

.hamInputText:hover {
	background-color: lightblue;
}

.hamInputButton {
	font-family: inherit;
	font-size: 100%;
	border: none;
	margin: 0;
	padding: 0;
}

.hamInputButton:hover {
	background-color: lightblue;
}
