table.hamTableLayout {
	border-collapse: collapse;
	border-spacing: 0;
}

.hamTableLayout * {
	font-family: Courier;
	padding: 0;
	margin: 0;
	border: none;
}

.hamTableLayout tr {
/*
	line-height: 1;
*/
}

.hamTableLayout td {
/	display: flex;
	padding: 0;
	margin: 0;
}

.hamTableLayout pre {
}

/*

table.hamTableLayout {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	margin: 0;
	padding: 0;
	white-space: pre-line;
}

.hamTableLayout tr {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	margin: 0;
	padding: 0;
}

.hamTableLayout td {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	color: blue;
	margin: 0;
	padding: 0;
}

.hamTableLayout pre {
	font-family: Courier;
}


.ham input {
	font-family: Courier;
	font-size: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}
*/
